    <header class="hd">
      <div class="hd-left">
    
          <div class="nav-logo border">
              <div class="logo">
              </div>
          </div>
    
          <div class="nav-block border">
              <div class="hd-switch">
                  <a href="#" class="hd-switch1">Exchange</a>
                  <a href="#" class="hd-switch1"> Web3 </a>
              </div>
              <div style="height: 20px; width: 1px; background: rgb(64, 67, 71); margin-right: 8px;"></div>
          </div>
    
          <div class="nav-menu border">
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Square-img"></div>
                  </div>
                  <i class="fa-solid fa-caret-down"></i>
              </div>
              

              <!-- <div class="hd-square">
                <div class="hd-menu">
                    <div class="Square-img"></div>
                </div>
                <i class="fa-solid fa-caret-down"></i>
                <div class="dropdown-content">
                    <div class="Promotions">
                        <h3>Promotions</h3>
                        <ul>
                            <li>ETH Euphoria: The ETF Expedition</li>
                            <li>VIP Program</li>
                            <li>Affiliate Program</li>
                            <li>Broker Program</li>
                            <li>Institutional Services</li>
                        </ul>
                    </div>
                    <div class="Learn">
                        <h3>Learn</h3>
                        <ul>
                            <li>Livestream</li>
                            <li>Announcements</li>
                            <li>Bybit Learn</li>
                            <li>Blog</li>
                            <li>Help Center</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            

            




    
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Buy-Crypto">Buy Crypto
                          <div class="menu-buy">
    
                              <div class="menu-buy1">
                                  <div class="menu-buy1-1">One-Click Buy</div>
                                  <div class="menu-buy1-2">Buy Crypto Within Seconds</div>
                              </div>
                              <div class="menu-buy1">
                                  <div class="menu-buy1-1">P2P Trading (0 Fees)</div>
                                  <div class="menu-buy1-2">60+ Fiat Currencies and Various popular local payment
                                      methods with Best Prices</div>
                              </div>
                              <div class="menu-buy1">
                                  <div class="menu-buy1-1">Fiat Deposit</div>
                                  <div class="menu-buy1-2">Top up Balance via Bank Transfer or a Bank Card</div>
                              </div>
                              <div class="menu-buy1">
                                  <div class="menu-buy1-1">Crypto Deposit</div>
                                  <div class="menu-buy1-2">Instant Crypto Deposits to Your Account</div>
                              </div>
    
                          </div>
                      </div>
                  </div>
                  <i class="fa-solid fa-caret-down" id="cartel-arrow"></i>
              </div>
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Markets">Markets</div>
                  </div>
                  <i class="fa-solid fa-caret-down" id="cartel-arrow"></i>
              </div>
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Trade">Trade</div>
                  </div>
                  <i class="fa-solid fa-caret-down" id="cartel-arrow"></i>
              </div>
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Derivatives">Derivatives</div>
                  </div>
                  <i class="fa-solid fa-caret-down" id="cartel-arrow"></i>
              </div>
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Tools">Tools</div>
                  </div>
                  <i class="fa-solid fa-caret-down" id="cartel-arrow"></i>
              </div>
              <div class="hd-square">
                  <div class="hd-menu">
                      <div class="Finance">Finance</div>
                  </div>
                  <i class="fa-solid fa-caret-down" id="cartel-arrow"></i>
              </div>
    
    
          </div>
    
          <div class="nav-search border">
              <span class="search-icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </span>
    
              <div class="search-coin">
                  <input placeholder="Search Coin" class="search-input">
              </div>
          </div>
      </div>
    
      <div class="hd-right">
      
      <% if (locals.user) { %>
        <div class="right-menu zzz">
          <div class="profile">
                <div class="profile-menu-allbox">
                    <div class="pro-1box">
                        <div class="profile-menu1">
    
                            <div class="pro-profile">
                            </div>
    
                            <div class=" pro-mail-main-uid">
                                <div class="pro-mail-mainac">
                                    <div class="pro-mail">tip***@****</div>
                                    <div class="pro-main-ac">Main Accout
                                    </div>
                                </div>
                                <div class="pro-uid">
                                    UID: 44440000 <i class="fa-regular fa-clone"></i>
                                </div>
                            </div>
                            
                          </div>
                        <div class="pro-veri-id"> <span class="pro-veri-id1">Complete Identity Verification</span> <i
                                class="fa-solid fa-arrow-right"></i></div>
                        <div class="pro-swich-ac"> <span class="pro-veri-id1">Now Switch/Create Account</span> <i
                                class="fa-solid fa-arrow-right"></i></div>
                        <div class="pro-depos-with">
                            <button class="pro-deposit">Deposite</button>
                            <button class="pro-withdraw">Withdraw</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="right-menu">
                  <div class="noti-icon">
                    <i class="fa-regular fa-bell"></i>
                    
                  </div>
                </div>
               
                  <% } else if (currentUrl !== '/user/signin' && currentUrl !== '/user/signup') { %>
                    <div class="right-menu">
                        <div class="noti-icon">
                            <form action="/user/signin" method="GET">
                                <button type="submit" class="login-btn">Login</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
    
    
    
          <!-- profile-menu-allbox -->
          
    
         
    
          <div class="right-menu">
    
              <div class="download-icon">
                  <i class="fa-solid fa-download"></i>
              </div>
    
          </div>
    
          <div class="right-menu">
    
              <div class="world-icon ">
                  <i class="fa-solid fa-globe"></i>
              </div>
    
          </div>
    
      </div>
    </header>
